*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  color: #000;
  background-color: rgb(164, 233, 204);
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
#search-box {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
.country-name {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  color: rgb(19, 19, 126);
}

.country-card__image {
  width: 300px;
  height: auto;
}

.country-card__list {
  margin-bottom: 10px;
}
.js-countryItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.country__content {
  margin-right: 50px;
}
.country-card__item {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
}
.country-card__item--subtitle {
  font-weight: bold;
  font-size: 20px;
}
.country-card__item--language {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(6, 77, 77);
}
